# comfyui-frontend-package — 使用 releases/ 目录下的 comfyui-lite-frontend wheel 安装
comfyui-workflow-templates-core==0.3.159
comfyui-workflow-templates-media-api==0.3.59
comfyui-embedded-docs==0.4.3
numpy>=1.25.0
einops
transformers>=4.50.3
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp>=3.11.8
yarl>=1.18.0
pyyaml
Pillow
scipy
tqdm
psutil
alembic
SQLAlchemy
av>=14.2.0
comfy-kitchen>=0.2.7
comfy-aimdo>=0.2.7
requests
simpleeval>=1.0.0

#non essential dependencies:
pydantic~=2.0
pydantic-settings~=2.0
PyOpenGL
glfw
