# Local development playwright target
PLAYWRIGHT_TEST_URL=http://localhost:5173

# Proxy target of the local development server
DEV_SERVER_COMFYUI_URL=http://127.0.0.1:8188

# ComfyUI test directory for Playwright
TEST_COMFYUI_DIR=/path/to/ComfyUI

# Algolia credentials for custom node manager
ALGOLIA_APP_ID=
ALGOLIA_API_KEY=

# Disable template proxy for local dev
DISABLE_TEMPLATES_PROXY=true

# Firebase API Keys
VITE_FIREBASE_DEV_API_KEY=
VITE_FIREBASE_PROD_API_KEY=
